.Results-container {
    .Results-Header {
        margin-top: 2rem;
    }
    .results{
        width: 60%;
        margin-left: auto;
        margin-right:auto;
        margin-top:2rem;
    }
    
}