*, *:before, *:after {
    box-sizing: border-box;
}

.login-card {
    .login-header {
        padding-bottom: 3rem;
        font-size: 2rem;
        font-family: "Source Sans Pro";
    }
    .login-boxes{
        .login-box {
            padding: 10px;
            margin: 10px 0;
            border: 0;
            border-radius: 10px;
            box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
            width: 100%;
        }
        .login-button {
            appearance: none;
            -webkit-appearance: none;

            padding: 10px;
            border:none;
            background-color: #3F51B5;
            color: #fff;
            font-weight: 600;
            border-radius: 5px;
            width: 50%;
        }
    }
}